.heading
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    background: white ; 
    float: none;
    padding: 10px;
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  canvas{
      background-color: grey;
      border: 6px solid black;
      border-radius: 20px;
      margin-top: 700px;
      height: fit-content;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }